extends ../_fragments/layout/layout.frag.pug

block title
  title= 'Développement, audit et formation' + _title

block content
  .container-fluid
    .row.min-vh-100.bg-psik
      .col-12.py-5
        h1 Développement, audit et formation
    .row.min-vh-100
      .col-12.py-5
        h2 Ingénierie web
        p Aussi pertinent sur le développement que
          | la transimission de connaissance (formations).
        h3 Développement full-stack JavaScript (Node/React)
        ul
          li React, Svelte, Angular
          li Node.js (Express, Nest)
          li Firebase, Heroku, Vercel (Next.js)
        h3 DevOps
        ul
          li Paramètrage de pipelines CI/CD
          li GitHub, GitLab
        h3 Conceptions et audit
        p Je participe à l'élaboration des applications
          | et j'analyse les performances de l'existant.
    .row
      .col-12
        h2 Éco-conception
        p Sensibilisation aux enjeux de la transition énergétique,
          | implications pour la DSI
          | et bonnes pratiques de développement web.
        h3 