extends ../_fragments/layout/layout.fragment.pug

block title
  title= 'Mentions légales | ' + _title

block content
  .container-fluid
    .row.min-vh-80.bg-primary
      .col-12.my-auto.w-100.py-5.text-center
        h1 Mentions légales
    .row
      .col-12.py-5
        .container
          h2.my-5 Identification
          dl
            dt Dirigeant
            dd Romaric Ruga
            dt Adresse
            dd 56 C rue de Sillery, 51100 Reims
            dt Contact
            dd 06 38 24 85 07, romaric.ruga@gmail.com
            dt Hébèrgement du site
            dd OVH (2 Rue KELLERMANN, 59100 ROUBAIX), +33-8-203-203-63