extends ../_fragments/layout/layout.fragment.pug

block title
  title= 'À propos ' + _title

block content
  .container-fluid
    .row.min-vh-80
      .col-12.my-auto.w-100.py-5.text-center
        h1.mt-5 À propos
        p.display-4 Personnalité et valeurs
    .row.min-vh-100.bg-primary
      .col-12.py-5.my-auto
        .container
          h2.mb-5.display-4 Méthodique
          p Détenteur d'un Master MIAGE et de plus de cinq ans
            |  d'expérience dans le développement web, je cherche
            |  autant le <b>perfectionnement de mes compétences techniques</b>
            |  que la <b>grande image de la gestion de projets applicatifs</b>.
          p Agile, puis DevOps, je m'intéresse à toutes les bonnes pratiques
            |  de <i>software craftmanship</i>, de design UI/UX et d'éco-conception.
          p J'aime que la communication soit claire et concise.
          p Mon travail est documenté avec <b>des tests, des commentaires et
            |  des rapports d'activité</b>.
    
    .row.min-vh-100
      .col-12.py-5.my-auto
        .container
          h2.mb-5.display-4 Créatif
          p Un humain qui <b>cherche d'autres humains</b> pour travailler ensemble.
          p Plus que ma palette de compétences, je suis un individu original avec
            |  de nombreux autres <i>soft skills</i> : pédagogue, empathique,
            |  adepte de la communication non-violente.
          p Autonome et indépenant, <b>j'aime aussi beaucoup échanger des idées
            |  avec mon équipe</b>.

    .row.min-vh-100.bg-success
      .col-12.py-5.my-auto
        .container
          h2.mb-5.display-4 Soutenable
          p Je dis non au stress. Exit les projets pour la veille, j'avance
            |  à mon rythme, sûrement.
          p Cette démarche "<i>slow</i>" je l'applique aussi à mon travail,
            |  en réflechissant à la <b>pertinence des fonctionnalités autant
            |  qu'à leur coût holistique</b> (économique, écologique).
          p Grâce à une bonne entente et une efficacité certaine, je souhaite
            |  construire des relations sur la durée avec des
            |  <b>personnalités agréables</b> et dans des
            |  <b>contextes intéressants</b>.