@font-face {
  font-family: "Lato";
  src: url("../../assets/Lato-Regular.ttf");
}

.navbar {
  z-index: 10;
}

.navbar-brand {
  font-size: 2rem;
  letter-spacing: .5rem;
}

h1, h2, h3, h4,
.navbar-brand {
  font-family: 'Lato';
}

.lead {
  letter-spacing: 0.05rem;
}

.bg-colors {
  top: 0;
  z-index: -1;
}

.container-fluid {
  overflow: hidden;
}

#home-container > .row:nth-child(1) {
  height: 60vh;
  min-height: 600px;
}

#home-container > .row:nth-child(2) {
  padding-top: 15rem;
}

.container {
  z-index: 10;
}

.row {
  padding: 7rem 3rem 5rem;
}

@media (max-width: 576px) {

  .row .media {
    flex-direction: column;
  }
}

.home-title {
  z-index: 1;
}

.star-scenery {
  width: 100vw;
  bottom: calc(-35vw - 250px);
  min-width: 800px;
  max-width: 100%;
}

p a:not(.btn) {
  text-decoration: underline;
  font-weight: bold;
}

.text-blue {
  color: #445cd1;
}

.bg-blue {
  background-color: #445cd1;
}

.text-red {
  color: #d72020;
}

.bg-red {
  background-color: #d72020;
}

.text-yellow {
  color: #efe000;
}

.bg-yellow {
  background-color: #efe000;
}

.bg-blue,
.bg-red,
.bg-yellow {
  color: #FFFE;
}

.btn.rounded-pill {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.badger {
  top: -125px;
  right: 0;
}

.media {
  padding: 1rem;
}

.media > img {
  width: 128px;
}